html, body{
    margin: 0;
    padding: 0;
    font-family: Open Sans,sans-serif;
    animation-name: showup;
    animation-duration: 1.5s;
}

@keyframes showup{
    0%{
        opacity: 0;
    }   
}

.headerbar{
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: auto auto;
    align-content: center;
    background-color: #1f1f25;
}

.header-nav-container{
    justify-self: flex-start;
    width: 100%;
    display: flex;
}

.headerbar img{
    width: 270px;
    height: 73px;
}

.header-nav{
    display: flex;
    gap: 50px;
    list-style: none;
    font-size: 25px;
    color: white;
}


.login{
    align-self: center;
    justify-self: flex-end;
    transform: translateX(-40px);
    width: 170px;
    height: 70px;
    border: none;
    background-color: transparent;
    justify-self: flex-end;
    background-image: url("../img/button_account-login.0a477ace.svg");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
}

.login-container{
    align-self: center;
    justify-self: center;
    display: flex;
    transform: translateY(-5px);
    gap: 5px;
}

.login .icon{
    transform: translateY(8px);
    width: 34px;
    height: 30px;
}

.login-container p{
   font-size: 15px;
   font-weight: bold;
}

.login:hover{
    opacity: 0.9;
}

.header-nav li{
    padding: 10px;
}

.header-nav a{
    position: relative;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.notinpage::after{
    position: absolute;
    content: "";
    width: 100%;    
    height: 3px;
    bottom: -4px;
    left: 0px;
    background-color: white;
    transform: scale(0);
    transform-origin: right top;
    transition: transform 3s;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.notinpage:hover::after{
    transform: scale(1);
    transform-origin: left top;
}

.inpage::after{
    position: absolute;
    content: "";
    width: 100%;    
    height: 3px;
    bottom: -4px;
    left: 0px;
    background-color: white;
}

#mainbg{
    display: grid;
    width: 100%;
    height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/mainbackground.png");
}

.main-character{
    position: relative;
    justify-self: center;
    width: 100%;
    overflow: hidden;
}

.tairitsu{
    opacity: 0;
    justify-self: flex-start;
    height: 1300px;
    width: 1300px;
    margin-left: 50px;
    animation-name: fadeinleft;
    animation-duration: 1s;
    animation-delay: 1.4s;
    animation-fill-mode: forwards;
}


.hikari{
    opacity: 0;
    position: absolute;
    height: 1300px;
    width: 1300px;
    margin-left: -700px;
    margin-top: 200px;
    animation-name: fadeinright;
    animation-duration: 1s;
    animation-delay: 1.4s;
    animation-fill-mode: forwards;
}

@keyframes fadeinleft{
    from {opacity: 0; transform: translateX(20px);}
    to {opacity: 1; transform: translateX(40px);}
}

@keyframes fadeinright{
    from {opacity: 0; transform: translateX(20px);}
    to {opacity: 1; transform: translateX(0px);}
}

.logotitle{
    position: absolute;
    justify-self: center;
    align-self: flex-end;
    width: 900px;
    height: 243px;
    margin-bottom: 70px;
}

.logotagline{
    position: absolute;
    justify-self: center;
    align-self: flex-end;
    width: 273px;
    height: 73px;
    margin-bottom: 280px;
}

.videopreview{
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/vidbg.jpg");
    display: grid;
}

.videopreview img{
    width: 234px;
    height: 75px;
    justify-self: center;
    transform: translateY(80px);
}

.videopreview-container{
    display: grid;
    align-self: flex-end;
    justify-self: center;
    transform: translateY(-70px);
    gap: 100px;
}

.preview iframe{
    width: 800px;
    height: 500px;
}

.title-border p{
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    justify-self: center;
    transform: translate(-23px, -8px);
}

.title-border{
    display: grid;
    justify-self: center;
    margin-top: 50px;
}

.char-title{
    height: 400px;
    display: grid;
    background-image: url("../img/characters_background.jpg");
}

.char-title .title-border{
    height: 100px;
    align-self: center;
    background-image: none;
}

.char-title .title-border img{
    width: 234px;
    height: 75px;
    justify-self: center;
}

.char-title .title-border p{
    transform: translate(45px, -8px);
}

.char-title .title-border em{
    font-weight: bold;
    justify-self: center;
    transform: translate(40px, 10px);
}

.light-container .title-border img{
    width: 234px;
    height: 75px;
}

.light-container{
    height: 1000px;
    display: grid;
    grid-template-columns: 45% 55%;
    align-items: stretch;
}

.light-container .title-border p{
    transform: translate(-23px, -8px);
}

.light-border-container{
    width: 95%;
    height: 1000px;
    display: grid;
    background-image: url("../img/lightstorybg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.light{
    justify-self: flex-end;
    width: 100%;
    height: 1000px;
    background-image: url("../img/storybg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    display: grid;
    grid-template-columns: auto auto;
}

.light img{
    position: absolute;
    width: 1200px;
    height: 1200px;
    transform: translateX(-450px);
}

.lightstory{
    width: 60%;
    margin-right: 20px;
    justify-self: flex-end;
    align-self: flex-end;
    text-align: justify;
    font-size: 20px;
    color: white;
    opacity: 0;
}


.conflict-container .title-border img{
    width: 234px;
    height: 75px;
    justify-self: flex-start;
}

.conflict-container{
    height: 1000px;
    display: grid;
    grid-template-columns: 55% 45%;
    align-items: stretch;
    background-color: black;
    position: relative;
    overflow: hidden;
}

.conflict-container .title-border{
    background-color: transparent;
}

.conflict-container .title-border p{
    color: white;
    transform: translate(-12px, -8px);
    position: absolute;
}

.conflict-border-container{
    width: 95%;
    height: 1000px;
    display: grid;
    background-image: url("../img/conflictstorybg.png");
    background-repeat: no-repeat;
    background-size: cover;
    justify-self: flex-end;
}

.conflict{
    justify-self: flex-end;
    width: 100%;
    height: 1000px;
    background-image: url("../img/storybg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    display: grid;
    grid-template-columns: auto auto;
}

.conflict-container .charimgtai{
    position: absolute;
    width: 1200px;
    height: 1200px;
    transform: translateX(400px);
    background-color: transparent;
}

.conflictstory{
    width: 60%;
    margin-left: 20px;
    justify-self: flex-start;
    align-self: flex-end;
    text-align: justify;
    font-size: 20px;
    color: white;
    opacity: 0;
}

.screenshots{
    height: 1000px;
    background-image: url("../img/screenshotbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
}

.screenshotstitle{
    width: 312px;
    height: 75px;
    justify-self: center;
    transform: translateY(50px);
}

.gamescreenshots-container{
    height: 600px;
    width: 1300px;
    justify-self: center;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
}

.gamescreenshots{
    display: flex;
}

.gamescreenshots img{
    height: 600px;
    width: 1300px;
}

.download-nav-sect{
    height: 400px;
    background-image: url("../img/downbg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
}

.download-title{
    opacity: 0;
}

.download-title-effect{
    align-self: center;
    justify-self: center;
    font-size: 40px;
    color: white;
    opacity: 0;
    animation-name: fadeinabove;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeinabove{
    from {opacity: 0; transform: translateY(0px);}
    to {opacity: 1; transform: translateY(20px);}
}

.download-nav-container{
    align-self: center;
    justify-self: center;
    transform: translateY(-30px);
    display: flex;
    gap: 20px;
}

.download-nav-container img{
    width: 500px;
    height: 167px;
}

.contact-us-container{
    display: grid;
    height: 200px;
}

.contact-us{
    align-self: center;
    justify-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.contact-us a{
    width: 300px;
    height: 112px;
}

.contact-us img{
    width: 300px;
    transform: translateX(8px);
}

.contact-us img:hover{
    opacity: 0.8;
}

footer{
    height: 350px;
    display: grid;
}

.footer-content-container{
    height: 280px;
    background-color: #34333e;
    display: grid;
}

.footer-content{
    align-self: center;
    justify-self: center;
    height: 250px;
    width: 50%;
    display: grid;
    grid-template-columns: 34% 33% 33%;
}

.footer-content em{
    align-self: center;
    justify-self: flex-start;
    color: white;
    font-size: 20px;
}

.footer-content .logo{
    align-self: center;
    justify-self: center;
    width: 200px;
    height: 58.14px;
}

.lowiro{
    align-self: center;
    justify-self: flex-end;
}

.copyright-container{
    height: 70px;
    width: 100%;
    display: grid;
}

.copyright{
    font-size: 15px;
    align-self: center;
    justify-self: center;
}